<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="mat-title">Tip Calculator</div>
</div>

<div class="content" role="main">
  <div class="row">
    <label class="col">Tax Rate</label>
    <mat-slider class="col" min="0" max="10" step="0.1" thumbLabel [(ngModel)]="taxRate" (ngModelChange)="calculateAll()"></mat-slider>
    <span class="col">{{taxRate}}%</span>
  </div>

  <div class="row">
    <label>Tip Rate</label>
  </div>
  <div class="row">
    <mat-radio-group class="radio-group" [(ngModel)]="selectedTipRate" (ngModelChange)="calculateAll()">
      <mat-radio-button class="radio-button" *ngFor="let tip of tipRates" [value]="tip">{{tip}}%</mat-radio-button>
    </mat-radio-group>
  </div>

  <hr>
  <table>
    <tr>
      <th>Sale Price</th>
      <th>Tax</th>
      <th>Tip</th>
      <th>Final Price</th>
      <th>
        <button mat-mini-fab color="primary" (click)="addItem()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
    </tr>
    <tr *ngFor="let item of items; let index = index;">
      <td>
        <mat-form-field>
          <input matInput type="number" name="item{{index}}" [(ngModel)]="items[index].salePrice"
                 (ngModelChange)="calculateAll()">
        </mat-form-field>
      </td>
      <td>
        <div>{{item.tax | currency}}</div>
      </td>
      <td>
        <div>{{item.tip | currency}}</div>
      </td>
      <td>
        <div>{{item.finalPrice | currency}}</div>
      </td>
      <td>
        <button mat-icon-button (click)="removeItem(index)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>{{total.salePrice | currency}}</td>
      <td>{{total.tax | currency}}</td>
      <td>{{total.tip | currency}}</td>
      <td>{{total.finalPrice | currency}}</td>
      <td>Total</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
