.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 10px;
}

hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}


table {
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}

input {
  text-align: center;
  padding: 8px;
}

.row {
  display: inline-block;
}

.col {
  margin: 20px;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  text-align: center;
}

.mat-title {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
